*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  color: #000;
}
body.static {
  height: 100vh;
  overflow: hidden;
}
a, a:link, a:visited, a:active {
  color: #002F6C;
}
p, h1, h2, h3, h4 {
  margin-top: 0px;
}
h1, h2, h3 {
  font-weight: 700;
  color: #002F6C;
}
h1 {
  font-size: 30px;
}
h3, li {
  margin-bottom: 10px;
}
.btn_primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  border: none;
  height: 30px;
  border-radius: 15px;
  margin-bottom: 16px;
  background-color: #002351;
  color: #fff !important;
  text-decoration: none;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn_primary:hover {
  background-color: #002F6C;
}
input {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.row {
  width: 100%;
  max-width: 1100px;
  padding: 30px;
  text-align: left;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 150px;
  min-height: calc(100vh - 300px);
}
#hero {
  display: block;
  width: 100%;
  height: 500px;
  background-size: cover;
  -webkit-box-shadow: 0 0 15px -4px #000;
  box-shadow: 0 0 15px -7px #999;
  background-position: left top;
  background-repeat: no-repeat;
}
#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
  width: 100%;
  max-width: 1100px;
  padding: 60px 30px;
}
.about_content_left {
  text-align: justify;
}
.about_content_right, .youtube {
  position: relative;
  padding-bottom: 56.2%;
  height: 0;
  overflow: hidden;
}
iframe  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 800px) {
  #hero {
    height: 400px;
  }
  #main {
    margin-top: 200px;
  }
  #about {
    display: block;
  }
  #about .about_content_left {
    margin-bottom: 60px;
  }
}
